.*
__pycache__
*.pyc
*.pyo
*.egg-info
build
dist
.DS_Store

!/.gitignore
!/.vscode/
!.vscode/**

uv.lock

rawimage/
labels.json
checkpoint.pt
src/ponychart_classifier/model.onnx
src/ponychart_classifier/thresholds.json
