.*
__pycache__
*.pyc
*.pyo
*.egg-info
build
dist
.DS_Store

!/.gitignore
!/.github/
!.github/**
!/.vscode/
!.vscode/**

uv.lock

rawimage/
src/ponychart_classifier/model.onnx
src/ponychart_classifier/model.onnx.etag
src/ponychart_classifier/thresholds.json
src/ponychart_classifier/thresholds.json.etag
